/env/
/env/*
/.env
/.env/*
/venv/
/.venv/
**/__pycache__/**
*__pycache__*
.env
.env.local
.env.prod
.env.common
logs.log
**/logs/**
**/migrations/*
**/migrations/*/
!**/migrations/__init__.py
/static/
.bak
media/*
staticfiles/